<div>
    <h4 class="text-center text-white bg-dark">Renkler</h4>
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>Id</th>
                <th>Renk</th>

            </tr>
        </thead>
        <tbody class="table-light">
            
            <tr (click)="setCurrentColor(color)"
            routerLink="/cars/color/{{color.id}}" 
            *ngFor="let color of colors"
            [class]="getCurrentColorClass(color)">
                <td>{{color.id}}</td>
                <td>{{color.name}}</td>
                
            </tr>
        </tbody>
    </table>
</div>

