<div>
    <h4 class="text-center text-white bg-dark">Markalar</h4>
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>Id</th>
                <th>Marka Ad</th>

            </tr>
        </thead>
        <tbody class="table-light">
            
            <tr (click)="setCurrentBrand(brand)"
            routerLink="/cars/brand/{{brand.id}}"
            *ngFor="let brand of brands"
            [class]="getCurrentBrandClass(brand)">
                <td>{{brand.id}}</td>
                <td>{{brand.name}}</td>
                
            </tr>
        </tbody>
    </table>
</div>
<!-- <select [(ngModel)]="brandFilter" class="form-select" aria-label="Default select example">

    <option  value="0" selected>Renk Seçiniz</option>
    <option  *ngFor="let brand of brands" [value]="brand.id">{{brand.name}}</option>
  </select> -->
    <!-- <button (click)="getCarsByBrand(brandFilter)" routerLink="/cars/brand/{{brandFilter}}">
        Filtrele
    </button> -->